<h2> Cat List </h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Breed </th>
            <th> Age </th>
            <th> Gender </th>
            <th> Color </th>
            <th> Catality </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let cat of cats">
            <td> {{ cat.firstName }} </td>
            <td> {{ cat.lastName }} </td>
            <td> {{ cat.breed }} </td>
            <td> {{ cat.age }} </td>
            <td> {{ cat.gender }} </td>
            <td> {{ cat.color }} </td>
            <td> {{ cat.catality }} </td>
        </tr>
    </tbody>
</table>